<div class="row">
  <div class="large-6 columns">
    <h2>Ansr - an Online Q and A session</h2>
  </div>
  <div class="large-6 columns text-center">
    <i class="icon-question icon-32x"></i>
  </div>
</div>
