<div class="row">
  <div class="large-6 columns large-offset-2">
    <h2 class="tagline">This is a kick-ass tagline.</h2>
    <h4>This is a sub tagline. Include some awesome shit about why
      this is awesome.</h4>
    <div class="row collapse">
      <div class="large-9 columns">
        <div class="small-8 columns">
          <input type="text" placeholder="An Event Name">
        </div>
        <div class="small-4 columns">
          <span class="postfix button">Search events</span>
        </div>
      </div>
    </div>
  </div>
  <div class="large-4 columns">
    <i class="icon-question icon-20x"></i>
  </div>
</div>
<div class="row">
  <div class="large-8 large-centered columns large-offset-1">

    <h3>Recently asked questions:</h3>
    <div class="panel">
      <h4><a href="#">Rick Button</a> asked at <a href="#">BoilerMake</a>:</h4>
      <h5>Why can't we have something better than lorem ipsum?</h5>
    </div>
    <div class="panel">
      <h4><a href="#">Kirby Long-ass-name</a> asked at <a href="#">MHacks</a>:</h4>
      <h5>Why does the cow go moo?</h5>
    </div>

  </div>
</div>
