body {
  font-family: 'Droid Sans', sans-serif;
  background-image: url('../img/bg.jpg');
  background-repeat: repeat;
}

p {
	line-height: 1em;
}

.icon-2x {
	font-size: 2em;
}

.icon-20x {
  font-size: 20em;
}

ul.sign-in {
	width: 15em;
	background: black !important;
}

ul.sign-in div {
	margin-bottom: 10px;
}

.has-button {
	margin-bottom: 10px;
}

.tagline {
  padding-top: 80px; }

#btn-settings {
  padding-right: 15px !important;
  padding-bottom: 20px !important;
}

.talk-header {
	float: left;
}

.talk-question-button {
	margin-top: 20px;
}

.question-box {
	min-height: 8em;
}

.star-box {
	text-align: center;
}

.star-num {
	font-size: 2em;
}

.star-text {
	font-size: 1.1em;
}

.star-icon{
	font-size: 2em;
}

.question-content {

}

.question-text {
	font-size: 1.5em;
}

.question-info {

}

.user-img {
	background: #2d3538;
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 25px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	-webkit-background-size: 100px 100px;
	-moz-background-size: 100px 100px;
	-o-background-size: 100px 100px;
	background-size: 100px 100px;
}

.user-header {
	float: left;
}

.user-name {
	line-height: 1em;
}

.user-school {
	line-height: 1em;
}

.user-header-questions {
	margin-top: 30px; /*temp fix*/
}